In [6]:
import mysql.connector
from mysql.connector import Error

try:
    # Step 1: Connect to MySQL Server
    connection = mysql.connector.connect(
        host='localhost',
        user='root',      # Replace with your MySQL username
        password='Vaishu@1803'   # Replace with your MySQL password
    )

    if connection.is_connected():
        cursor = connection.cursor()

        # Step 2: Create and Use Database
        cursor.execute("CREATE DATABASE IF NOT EXISTS Alephys;")
        cursor.execute("USE Alephys;")

        # Step 3: Create employees table
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS employees (
                emp_id INT PRIMARY KEY,
                emp_name VARCHAR(100),
                department VARCHAR(50),
                job_name VARCHAR(50),
                manager_id INT NULL,
                hire_date DATE,
                salary DECIMAL(10,2),
                commission DECIMAL(10,2) NULL
            );
        """)

        # Step 4: Insert data into employees table
        cursor.execute("""
            INSERT INTO employees (emp_id, emp_name, department, job_name, manager_id, hire_date, salary, commission)
            VALUES 
                (1, 'Ammu', 'HR', 'Manager', NULL, '2020-01-01', 60000, NULL),
                (2, 'Bhanu', 'HR', 'Assistant', NULL , '2021-03-15', 40000, NULL),
                (3, 'Vaishnavi', 'IT', 'Developer', NULL, '2022-06-20', 55000, NULL),
                (4, 'Ravi', 'IT', 'Lead', NULL, '2019-08-10', 70000, NULL),
                (5, 'Siri', 'IT', 'Developer', NULL, '2023-01-05', 50000, NULL);
        """)

        # Step 5: Commit changes
        connection.commit()
        print("Database, table, and data created successfully.")

except Error as e:
    print("Error while connecting to MySQL:", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

Database, table, and data created successfully.

In [7]:
import mysql.connector

# Connect to MySQL and select the database
connection = mysql.connector.connect(
    host='localhost',
    user='root',      # Replace with your MySQL username
    password='Vaishu@1803',  # Replace with your password
    database='Alephys'         # The database you created
)

cursor = connection.cursor()

# Run a SELECT query (example for the 'employees' table)
cursor.execute("SELECT * FROM employees")

# Fetch all rows
rows = cursor.fetchall()

# Display the data
for row in rows:
    print(row)

# Clean up
cursor.close()
connection.close()

(1, 'Ammu', 'HR', 'Manager', None, datetime.date(2020, 1, 1), Decimal('60000.00'), None)
(2, 'Bhanu', 'HR', 'Assistant', None, datetime.date(2021, 3, 15), Decimal('40000.00'), None)
(3, 'Vaishnavi', 'IT', 'Developer', None, datetime.date(2022, 6, 20), Decimal('55000.00'), None)
(4, 'Ravi', 'IT', 'Lead', None, datetime.date(2019, 8, 10), Decimal('70000.00'), None)
(5, 'Siri', 'IT', 'Developer', None, datetime.date(2023, 1, 5), Decimal('50000.00'), None)

In [8]:
import mysql.connector
from mysql.connector import Error

try:
    # Connect to MySQL
    connection = mysql.connector.connect(
        host='localhost',
        user='root',      # Replace with your MySQL username
        password='Vaishu@1803',  # Replace with your password
        database='Alephys'         # Ensure this database is already created
    )

    cursor = connection.cursor()

    # Create sales table
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS sales (
            sale_id INT PRIMARY KEY,
            date DATE NOT NULL,
            amount DECIMAL(12,2) NOT NULL
        );
    """)

    # Insert rows into sales table
    cursor.execute("""
        INSERT INTO sales (sale_id, date, amount) VALUES
            (1, '2024-06-01', 10000),
            (2, '2024-06-02', 8000),
            (3, '2024-06-03', 12000),
            (4, '2024-06-04', 5000),
            (5, '2024-06-01', 9000),
            (6, '2024-06-02', 7000),
            (7, '2024-06-03', 8000)
    """)

    # Commit the transaction
    connection.commit()
    print("Sales table created and data inserted successfully.")

except Error as e:
    print("Error:", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

Sales table created and data inserted successfully.

In [9]:
import mysql.connector

# Connect to MySQL and select the database
connection = mysql.connector.connect(
    host='localhost',
    user='root',      # Replace with your MySQL username
    password='Vaishu@1803',  # Replace with your password
    database='Alephys'         # The database you created
)

cursor = connection.cursor()

# Run a SELECT query (example for the 'employees' table)
cursor.execute("SELECT * FROM sales")

# Fetch all rows
rows = cursor.fetchall()

# Display the data
for row in rows:
    print(row)

# Clean up
cursor.close()
connection.close()

(1, datetime.date(2024, 6, 1), Decimal('10000.00'))
(2, datetime.date(2024, 6, 2), Decimal('8000.00'))
(3, datetime.date(2024, 6, 3), Decimal('12000.00'))
(4, datetime.date(2024, 6, 4), Decimal('5000.00'))
(5, datetime.date(2024, 6, 1), Decimal('9000.00'))
(6, datetime.date(2024, 6, 2), Decimal('7000.00'))
(7, datetime.date(2024, 6, 3), Decimal('8000.00'))

In [11]:
import mysql.connector
from mysql.connector import Error

try:
    # Step 1: Connect to MySQL and Alephys database
    connection = mysql.connector.connect(
        host='localhost',
        user='root',       # Replace with your username
        password='Vaishu@1803',   # Replace with your password
        database='Alephys'
    )

    cursor = connection.cursor()

    # Step 2: Create transactions table
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS transactions (
            transaction_id INT AUTO_INCREMENT PRIMARY KEY,
            col1 VARCHAR(50) NOT NULL,
            col2 VARCHAR(50) NOT NULL,
            transaction_date DATE,
            amount DECIMAL(12,2)
        );
    """)

    # Step 3: Insert rows into the transactions table
    cursor.execute("""
        INSERT INTO transactions (transaction_id, col1, col2, transaction_date, amount)
        VALUES 
            (101, 'A1', 'B1', '2024-06-01', 100),
            (102, 'A2', 'B2', '2024-06-02', 150),
            (103, 'A1', 'B1', '2024-06-03', 200),
            (104, 'A3', 'B3', '2024-06-04', 250),
            (105, 'A2', 'B2', '2024-06-05', 300),
            (106, 'A2', 'B2', '2024-06-05', 300)
    """)

    connection.commit()
    print("Transactions table created and data inserted successfully.")

except Error as e:
    print("Error:", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

Transactions table created and data inserted successfully.

In [12]:
import mysql.connector

# Connect to MySQL and select the database
connection = mysql.connector.connect(
    host='localhost',
    user='root',      # Replace with your MySQL username
    password='Vaishu@1803',  # Replace with your password
    database='Alephys'         # The database you created
)

cursor = connection.cursor()

# Run a SELECT query (example for the 'employees' table)
cursor.execute("SELECT * FROM transactions")

# Fetch all rows
rows = cursor.fetchall()

# Display the data
for row in rows:
    print(row)

# Clean up
cursor.close()
connection.close()

(101, 'A1', 'B1', datetime.date(2024, 6, 1), Decimal('100.00'))
(102, 'A2', 'B2', datetime.date(2024, 6, 2), Decimal('150.00'))
(103, 'A1', 'B1', datetime.date(2024, 6, 3), Decimal('200.00'))
(104, 'A3', 'B3', datetime.date(2024, 6, 4), Decimal('250.00'))
(105, 'A2', 'B2', datetime.date(2024, 6, 5), Decimal('300.00'))
(106, 'A2', 'B2', datetime.date(2024, 6, 5), Decimal('300.00'))